* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #a683e3 43%, #e4e9fd 40%);
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 60px;
}

.navbar-logo img {
    width: 100px;
    height: auto;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #a682e2;
}

.navbar-links a :hover {
    background-color: #483863;
}

.content {
    margin-top: 70px;
}

.hero-section {
    text-align: center;
    padding: 150px 20px;
}

.hero-section h1{
    font-size: 43px;
    font-weight: bold;
    color: #333;
}

.hero-section p {
    font-size: 20px;
    color: #666;
    margin-top: 20px;
}

.get-started {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #483863;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.get-started:hover {
    background-color: #a289cc;
}

.footer {
    color: #333;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

input:hover {
    background-color: #e4e9fd;
}

.lnogo {
    position: absolute;
    width: 6%;
    left: 4%;
    top: 22px;
}

.container {
    width: 100%;
    max-width: 769px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.student-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.signin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 11px;
}

.user-input-box:nth-child(2n) {
    justify-content: end;
}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    font-size: 20px;
}

.gender-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category {
    margin: 15px 0;
    color: white;
}

.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 20px;
}


.gender-category input,
.form-submit-btn input {
    cursor: pointer;
}

.form-submit-btn {
    margin-top: 40px;
}

.form-submit-btn input {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: rgb(209, 209, 209);
    background: hsl(197deg 6% 52% / 91%);
    letter-spacing: 6px;
}

.form-submit-btn input::hover {
    background: rgba(150, 203, 228, 0.822);
    color: rgb(34, 77, 67);
}

@media (max-width: 600px) {
    .container {
        min-width: 288px;
    }

    .user-input-box {
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n) {
        justify-content: space-between;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .signin {
        max-height: 380px;
        overflow: auto;
    }

    .signin:-webkit-scrollbar {
        width: 0;
    }

}